.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* css */
.navbar-container {
  overflow: hidden;
}

#content {
  transition: margin-left 0.7s;
}

.content-open {
  margin-left: 250px;
}

.logo {
  width: 70px;
  height: 60px;
}

.sidebar-title,
.navbar-title {
  color: white;
  font-size: 15px;
}

.navbar-links {
  display: flex;
}

.space {
  margin-right: 20px;
}
#viewport {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
  margin: 12px;
}

#viewport.open #sidebar {
  left: 0;
}

#viewport.open #content {
  width: calc(100% - 550px);
}

#sidebar {
  z-index: 1000;
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  background: #008DDA;
  transition: left 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
  transition: width 0.6s ease;
}

#sidebar header {
  background-color: #008DDA;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav a {
  color: #cfd8dc;
  font-size: 14px;
  padding: 12px 24px;
}

#sidebar .nav a:hover {
  color: #eceff1;
  background-color:black;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
}

.btn-close:hover {
  color: #ccc;
}

.navbar {
  background-color: #008DDA;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-navbar {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  margin: 0 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  margin: 0 75px 0 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-toggle:hover {
  transform: scale(1.1);
}

.space {
  margin: 0 10px;
}

.navbar-links {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-links a:hover {
  color: #eceff1;
}

#sidebar .nav .active {
  background-color: #008DDA; /* Warna latar untuk item aktif */
  color: #eceff1; /* Warna teks untuk item aktif */
}

.nav-item.active .nav-link,
.nav-link:hover {
  background-color: black; /* Contoh warna background untuk hover dan halaman aktif */
  color: #000; /* Contoh warna teks untuk hover dan halaman aktif */
}

/* css animasi */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.8s ease-out forwards;
}

/* navsid */
@media (max-width: 768px) {
  #sidebar {
    position: fixed;
    left: -250px; /* Hide sidebar by moving it off-screen */
    transition: left 0.3s;
  }
  #sidebar.open {
    left: 0; /* Show sidebar */
  }
  #content {
    margin-left: 0 !important; /* Remove margin when sidebar is hidden */
  }
  .btn-toggle {
    display: block; /* Show toggle button on small screens */
  }
}

   /* css button */
.btn-edit {
  background-color: #4CAF50; /* Hijau */
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 5px;
}

.btn-edit:hover {
  background-color: #45a049;
}

.btn-delete {
  background-color: #f44336; /* Merah */
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.btn-delete:hover {
  background-color: #d73833;
}

/* css button home */
/* Styling dasar untuk tombol, dengan transparansi dan sudut yang melengkung */
/* Styling dasar untuk tombol, dengan warna abu-abu transparan dan border putih terang */
.btn-login, .btn-kunjungi {
  background-color: transparent; /* Warna abu-abu transparan */
  color: white;
  border: 2px solid white; /* Border putih terang */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px; /* Pembulatan sudut */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Animasi untuk efek hover dan klik */
}

/* Efek hover, membuat warna menjadi lebih berwarna dan kurang transparan */
.btn-login:hover, .btn-kunjungi:hover {
  background-color: rgba(11, 150, 225, 0.87); /* Contoh: warna biru dengan transparansi saat di-hover */
}

/* Efek ketika tombol ditekan (active), membuat tombol terlihat seperti timbul ke atas */
.btn-login:active, .btn-kunjungi:active {
  transform: translateY(-2px); /* Mendorong tombol ke atas */
}

/* Penyesuaian khusus untuk tombol kunj.btn-kunjungi jika diperlukan */
.btn-kunjungi {
  background-color: transparent; /* Contoh: warna merah dengan transparansi untuk tombol kunjungi */
}

.btn-kunjungi:hover {
  background-color: rgba(200, 14, 14, 0.7); /* Contoh: warna oranye dengan transparansi untuk hover */
}

/* css card */
/* Media query untuk layar yang lebih kecil */
@media (max-width: 768px) {
  .card {
    margin-left: 5%!important;
    margin-right: 5%!important;
    width: 90%!important; /* Sesuaikan lebar kartu untuk layar yang lebih kecil */
  }
}

/* card text */
.main-heading {
  font-size: 32px; /* Ukuran font yang lebih besar karena ini adalah h1 */
  font-weight: lighter; /* Membuat teks tebal */
  text-transform: uppercase; /* Mengubah semua teks menjadi huruf kapital */
  color: #333; /* Warna teks, dapat disesuaikan */
  font-family: 'Roboto', sans-serif; /* Jenis font, sesuaikan dengan desain */
  text-align: center; /* Menengahkan teks */
  margin-top: 2%; /* Jarak atas, sesuaikan dengan kebutuhan */
  /* padding: 5%; Padding, sesuaikan dengan kebutuhan */
}

.card-hover {
  width: 30rem;
  height: 40rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan lebih ringan saat tidak hover */
  margin-bottom: 20px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out; /* Tambahkan transisi untuk efek smooth */
}

.card-hover:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Bayangan lebih gelap saat hover */
}

.space.active {
  text-decoration: underline;
  /* Atau untuk garis lebih custom */
  border-bottom: 2px solid #007bff; /* Ganti dengan warna yang diinginkan */
}

/* css tabel data */

/** page structure **/
#wrapper {
  display: block;
  width: 950px;
  background: #fff;
  margin: auto;
  padding: 10px 15px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15); /* Updated shadow */
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 20px;
  padding-left: 42px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}

#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}